__pycache__
*.pkl
*.model*
Database/data/
Database/logs/
*.msi
*.conf
*.rdb
Cabocha/chunk_depend*
chunk_depend.txt
chunk_depend_nv.txt
light_verb.txt
verb_case_pattern.txt
verb_surface.txt
verb_base.txt
noun_*.txt
word_freq.txt
neko.txt*
nlp.txt*
artist.json
question10-19/*.txt
question20-29/*.txt
enwiki-20150112-400-r100-10576.txt
context_r100.txt
tokens_r100.txt
tokens2_r100.txt
country_list.txt
jawiki-country.json
*.png
*DS_Store
*.npy
*.mat
*.vec
*.clf
*.jl
sentiment.txt
question90-99/*_result*.txt
rt-polaritydata
._*
